<div class="container" style="text-align: center; margin-top: 50px;">
  <h1>Welcome to the Backoffice App</h1>
  <p>Choose an option below to manage your data:</p>

  <div style="display: flex; justify-content: center; gap: 20px; margin-top: 30px; padding: 16px;">
    <mat-card class="card-style">
      <mat-card-title>Manage Users</mat-card-title>
      <mat-card-content>
        <p>View and edit the list of users.</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="button-style" (click)="navigateTo('usersList')">Go to Users</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-style">
      <mat-card-title>Manage Products</mat-card-title>
      <mat-card-content>
        <p>View and edit the list of products.</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="button-style" (click)="navigateTo('productsList')">Go to Products</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>